body{

    backgroud-color: green;
    color: blue;


 
  
      }
      table{
    
                  border: 1xp yellow;
    
    
      }
      td{
    
                      border: 1px solid green;
        }
       
   